mockRepo/core-eldan/src/ServiceMonitor/real/ServiceMonitor/Connected Services/MailReference/WCFMailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFMailService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63487/WCFMailService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63487/WCFMailService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63487/WCFMailService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFMailService_SendMail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMail" />
  </wsdl:message>
  <wsdl:message name="IWCFMailService_SendMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFMailService_SendMailNew_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMailNew" />
  </wsdl:message>
  <wsdl:message name="IWCFMailService_SendMailNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailNewResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFMailService">
    <wsdl:operation name="SendMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFMailService/SendMail" message="tns:IWCFMailService_SendMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFMailService/SendMailResponse" message="tns:IWCFMailService_SendMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMailNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFMailService/SendMailNew" message="tns:IWCFMailService_SendMailNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFMailService/SendMailNewResponse" message="tns:IWCFMailService_SendMailNew_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFMailService" type="tns:IWCFMailService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMail">
      <soap:operation soapAction="http://tempuri.org/IWCFMailService/SendMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailNew">
      <soap:operation soapAction="http://tempuri.org/IWCFMailService/SendMailNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFMailService">
    <wsdl:port name="BasicHttpBinding_IWCFMailService" binding="tns:BasicHttpBinding_IWCFMailService">
      <soap:address location="http://localhost:63487/WCFMailService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>