mockRepo/core-eldan/src/Eldan.DiagnosticServices/TestApp/Connected Services/CarsDiagnosticReference/CarsDiagnosticService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59041/CarsDiagnosticService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:59041/CarsDiagnosticService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Eldan.DiagnosticServicesLib.CarsDiagnostic" />
  <xs:element name="UpdateSuppliersData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSuppliersDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="carsNumber" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEdiData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Eldan.DiagnosticServicesLib.CarsDiagnostic" minOccurs="0" name="ediDiagnosticData" nillable="true" type="q2:EdiDiagnosticData" />
        <xs:element minOccurs="0" name="LoggerSessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePointerData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Eldan.DiagnosticServicesLib.CarsDiagnostic" minOccurs="0" name="pointerDiagnosticData" nillable="true" type="q3:PointerDiagnosticData" />
        <xs:element minOccurs="0" name="LoggerSessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIturanData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Eldan.DiagnosticServicesLib.CarsDiagnostic" minOccurs="0" name="ituranDiagnosticData" nillable="true" type="q4:IturanDiagnosticData" />
        <xs:element minOccurs="0" name="LoggerSessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Eldan.DiagnosticServicesLib.CarsDiagnostic" minOccurs="0" name="inetDiagnosticData" nillable="true" type="q5:InetDiagnosticData" />
        <xs:element minOccurs="0" name="LoggerSessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Eldan.DiagnosticServicesLib.CarsDiagnostic" minOccurs="0" name="GetCarDataResult" nillable="true" type="q6:CarData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalibrateSupplierCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carNumber" type="xs:int" />
        <xs:element minOccurs="0" name="KM" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalibrateSupplierCarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Refresh">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Flush">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FlushResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>