mockRepo/core-eldan/src/Eldan.DiagnosticServices/TestApp/Connected Services/CarsDiagnosticReference/CarsDiagnosticService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Eldan.DiagnosticServicesLib.CarsDiagnostic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Eldan.DiagnosticServicesLib.CarsDiagnostic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EdiDiagnosticData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonData">
        <xs:sequence>
          <xs:element minOccurs="0" name="EdiCarModelName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EdiCarNumber" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EdiDiagnosticData" nillable="true" type="tns:EdiDiagnosticData" />
  <xs:complexType name="CommonData">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="CommonData" nillable="true" type="tns:CommonData" />
  <xs:complexType name="PointerDiagnosticData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonData">
        <xs:sequence>
          <xs:element minOccurs="0" name="PointerCarModelName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PointerCarNumber" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PointerDiagnosticData" nillable="true" type="tns:PointerDiagnosticData" />
  <xs:complexType name="IturanDiagnosticData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonData">
        <xs:sequence>
          <xs:element minOccurs="0" name="IturanCarModelName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IturanCarNumber" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IturanDiagnosticData" nillable="true" type="tns:IturanDiagnosticData" />
  <xs:complexType name="InetDiagnosticData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonData">
        <xs:sequence>
          <xs:element minOccurs="0" name="InetCarModelName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InetCarNumber" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InetDiagnosticData" nillable="true" type="tns:InetDiagnosticData" />
  <xs:complexType name="CarData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonData">
        <xs:sequence>
          <xs:element minOccurs="0" name="CarModelName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CarNumber" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CarData" nillable="true" type="tns:CarData" />
</xs:schema>